.label-pills {
	display: flex;
	gap: 10px;

	list-style-type: none;

	.pill {
		display: block;
		padding: 4px 8px;
		border-radius: 25px;

		color: #fff;
		background-color: $color-primary-dark;
		font-size: 1.1rem;
	}
}
