.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

.modal-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 110;
	width: 100vw;
	height: 100vh;

	.modal {
		border-radius: 6px;

		background-color: #fff;

		.modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding: 20px;
			border-bottom: 1px rgba(0, 0, 0, 0.2) solid;

			h1 {
				font-size: 2rem;
			}

			.close {
				font-size: 16px;
				font-weight: 800;
				cursor: pointer;
			}
		}

		.modal-content {
			padding: 20px;
		}

		.modal-footer {
			display: flex;
			justify-content: flex-end;

			padding: 20px;
			border-top: 1px rgba(0, 0, 0, 0.2) solid;

			button {
				margin-left: 1rem;
			}
		}
	}

	.labels-mode {
		width: 300px;

		input[type="text"] {
			width: 100%;
			padding: 5px;
			margin-bottom: 10px;
		}

		.modal-header {
			background-color: $color-primary-dark;
			color: $color-primary-subtle;
			border-radius: 5px 5px 0 0;
		}

		.modal-content {
			font-size: 1.4rem;
		}
	}
}
