.recipe-list {
	display: flex;
	flex-direction: column;

	width: $recipe-list-width;

	background-image: url(../images/ricepaperdarker.png);

	h1 {
		display: inline-block;
		padding: 24px;
	}

	li {
		list-style-type: none;
		padding: 12px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;

		&:hover,
		&.active {
			box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05);
		}
	}
}
