.recipe-viewer {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url("../images/lightpaperfibers.png");

	width: calc(100vw - $recipe-list-width - $sidebar-width);
	height: 100%;
	padding: 24px 100px;

	overflow-y: auto;

	font-size: 1.4rem;
}

@media screen and (max-width: $bp-lg) {
	.recipe-viewer {
		width: 100vw;
		padding: 24px 50px;
	}
}
