.recipe-form {
	label {
		font-weight: 800;
	}

	textarea {
		min-height: 50px;
		height: 100px;
		max-height: 200px;

		min-width: 100%;
		max-width: 100%;
	}

	.message {
		font-style: italic;
		text-align: end;
	}
}
