.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: $sidebar-width;
	padding: 10px;

	background-image: url("../images/blackpaper.png");

	button {
		cursor: pointer;

		outline: none;
		border: none;
		padding: 0;
		background: transparent;

		font-size: 24px;
		color: $color-primary;

		&:hover {
			color: $color-primary-light;
			transition: 0.2s;
		}
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

@media screen and (max-width: $bp-md) {
	.sidebar {
		flex-direction: row;
		width: 100vw;
		padding: 18px 18px 0 18px;

		div {
			flex-direction: row;
			gap: 10px;
		}
	}
}
