.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: $sidebar-width;
	padding: 6px;

	background-image: url("../images/blackpaper.png");

	div {
		display: flex;
		flex-direction: column;
	}
}
