.btn {
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
	cursor: pointer;

	&-primary {
		color: #fff;
		background-color: $color-primary-dark;
		border: 1px solid $color-primary-dark;

		&:hover {
			color: $color-primary-dark;
			background-color: $color-primary-light;
			transition: 0.1s;
		}
	}

	&-secondary {
		color: $color-primary-dark;
		border: 1px solid $color-primary-dark;
		background-color: #fff;

		&:hover {
			background-color: $color-primary-light;
			transition: 0.1s;
		}
	}

	&-warning {
		color: #fff;
		border: 1px solid $color-red;
		background-color: $color-red;

		&:hover {
			color: $color-red;
			background-color: #fff;
			transition: 0.1s;
		}
	}
}

.error {
	color: $color-red;
}

.form {
	width: 100%;

	label {
		font-size: 1.4rem;
	}

	input {
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 3px;
	}

	input,
	textarea {
		font-family: sans-serif;
		margin-top: 0.2rem;
		padding: 10px;

		&::placeholder {
			font-family: monospace;
			font-style: italic;
		}
	}

	.field-wrapper {
		margin-bottom: 1.6rem;
	}
}
