// COLORS
$color-primary: #83e0d6;
$color-primary-light: #ccfbf1;
$color-primary-dark: #2aa59b;
$color-gray: #71717a;
$color-gray-dark: #3f3f46;
$color-red: #ef4444;

// SIZING
$sidebar-width: 50px;
$recipe-list-width: 380px;
