// COLORS
$color-primary: #83e0d6;
$color-primary-light: #ccfbf1;
$color-primary-subtle: #ebf7f4;
$color-primary-dark: #2aa59b;
$color-gray: #71717a;
$color-gray-dark: #3f3f46;
$color-red: #ef4444;
$color-red-dark: #dd2424;

// SIZING
$sidebar-width: 50px;
$recipe-list-width: 380px;

// BREAKPOINTS

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1200px;
